html {
  font-size: 14px;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
div{
  overflow: hidden;
}
/* estilos header*/
header{
    border:none;
}
.menu li:after {
content: "";
position: absolute;
width: 0%;
height: 1px;
display: block;
transition: all 0.3s ease;
bottom: 25%;
  }

  .menu{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0 100px;
  }

  .menu li:hover::after {
  width: 2vw;
  height: 1px;
  background-color: #F24607;
  }
  .bg-nav {
    background-color: white;
    color:black;
}

.nav-item{
    align-items: center;
    padding:1vw;
    padding-left:3vw;
    font-size:1.5vw;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/*Desplegable de usuario*/

.action .profile {
position: relative;
width: 60px;
height: 60px;
overflow: hidden;
cursor: pointer;
}

.action .profile img {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
}

.action .sesion {
position: absolute;
top: 120px;
padding: 10px 20px;
background: #fff;
width: 200px;
box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
border-radius: 15px;
transition: 0.5s;
visibility: hidden;
opacity: 0;
}

.action .sesion.active {
top: 80px;
visibility: visible;
opacity: 1;
z-index: 10;
}

.action .sesion::before {
content: "";
position: absolute;
top: -5px;
right: 28px;
width: 20px;
height: 20px;
background: #fff;
transform: rotate(45deg);
}

.action .sesion h3 {
width: 100%;
text-align: center;
font-size: 18px;
padding: 20px 0;
font-weight: 500;
color: #555;
line-height: 1.5em;
}

.action .sesion h3 span {
font-size: 14px;
color: #cecece;
font-weight: 300;
}

.action .sesion ul li {
list-style: none;
padding: 16px 0;
border-top: 1px solid rgba(0, 0, 0, 0.05);
display: flex;
align-items: center;
text-align: center;
display: inline-block;
}


.action .sesion ul li:hover img {
opacity: 1;
}

.action .sesion ul li a {
display:inline-block;
text-decoration: none;
color: #555;
font-weight: 500;
transition: 0.5s;
}

.action .sesion ul li:hover a {
color: #ff5d94;
}


.bt-user{
  width: 10vw !important;
  align-items: center;
  background-color: #0777D9;
  color: #ffffff;
  padding: 0.5vw 1vw;
  border-radius: 2vw; 
  text-decoration: none; 
  transition: background-color 0.3s;
  border: none;
}

/*Estilos body*/
.enfasis{
  color:#1E851B;
}
.enfasis2{
  color:#E0078A;
}

.cont-center{
    text-align:center;
    padding:200px 0;
    border:none;
}

.box-cont{
  padding-top: 10vw;
  padding-left: 2vw;
}
.img-fo{
  margin:0;
  width: 50vw;
}
/*MAPS*/
#map {
  height: 100%;
}
/*Clientes*/
.btn-buscar {
  background-color: #0777D9;
  color: #ffffff;
  margin-left: 1vw;
  padding: 0.5vw 1vw;
  border-radius: 2vw; 
  text-decoration: none; 
  transition: background-color 0.3s;
  border: none;
}
.inp{
  border:none;
  background-color: white;
  padding: 0.5vw 1vw;
}
.bg-custom {
  background-color: #DCD6D1;
  margin: 1vw;
}
/*estilos footer*/
footer{
  background-color: #E28F46;
  color:white;
  width: 100%;
  border:none;
}
.F-col{
  margin-left: 2vw;
  margin-right: 1vw;
  padding-left: 1vw;
  align-items: center;
  padding: 1vw;
}
ul {
list-style-type: none; /* Remove bullets */
padding: 0; /* Remove padding */
margin: 0; /* Remove margins */
top: 0;
margin-top: 0;
}

.white-txt{
    color:white !important;
    text-emphasis-color:white;
}

/*ESTILOS PAGES EDGAR*/

/* Estilos para el botón de reserva */
.reservation-button a {
  background-color: #FEA150; /* Color de fondo */
  color: #ffffff; /* Color del texto */
  padding: 10px 20px; /* Espaciado interno */
  border-radius: 5px; /* Borde redondeado */
  text-decoration: none; /* Sin subrayado */
  transition: background-color 0.3s; /* Transición de color de fondo */
}

.reservation-button a:hover {
  background-color: #FEA150; /* Color de fondo al pasar el mouse */
}
/* Estilos para el título "Combos" */
.combos-title {
  font-family: 'Poppins', sans-serif; /* Fuente Poppins */
  font-size: 50px; /* Tamaño de la fuente */
  color: #FEA150; /* Color del texto */
  text-align: center; /* Alineación del texto */
  margin-bottom: 30px; /* Margen inferior */
}
/* Estilos para la sección de combos */
.combos {
  display: grid; /* Mostrar en forma de cuadrícula */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Columnas automáticas */
  gap: 20px; /* Espacio entre elementos */
}

.combo {
  background-color: #224230; /* Color de fondo */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Sombra */
  padding: 20px; /* Espaciado interno */
  border-radius: 10px; /* Borde redondeado */
}

.combo h3 {
  font-size: 20px; /* Tamaño del texto */
  font-weight: bold; /* Peso del texto */
  color: #ffffff; /* Color del texto */
}

.combo p {
  color: #ffffff; /* Color del texto */
}

/* Estilos para el botón de reserva */
.btn-reserva {
  background-color: #1E851B; /* Color de fondo */
  color: #ffffff; /* Color del texto */
  padding: 10px 20px; /* Espaciado interno */
  border-radius: 5px; /* Borde redondeado */
  text-decoration: none; /* Sin subrayado */
  transition: background-color 0.3s; /* Transición de color de fondo */
}
/* Estilos para el botón de cancelar */
.btn-cancelar {
  background-color: #ff0000; /* Color de fondo */
  color: #ffffff; /* Color del texto */
  padding: 10px 20px; /* Espaciado interno */
  border-radius: 5px; /* Borde redondeado */
  text-decoration: none; /* Sin subrayado */
  transition: background-color 0.3s; /* Transición de color de fondo */
}

/* Estilos para el texto "Recuerde iniciar sesión antes de reservar una mesa" */
.reminder-text {
  background-color: #e69f5d; /* Color de fondo */
  padding: 10px; /* Espaciado interno */
  border-radius: 5px; /* Borde redondeado */
  text-align: left; /* Alineación a la izquierda */
  font-weight: bold; /* Negrita */
}
/* Estilos para el fondo personalizado de los divs de las mesas */
.bg-custom {
  background-color: #DCD6D1; /* Color de fondo personalizado */
}

.btn-disponibilidad {
  background-color: #0777D9; /* Color de fondo */
  color: #ffffff; /* Color del texto */
  padding: 10px 20px; /* Espaciado interno */
  border-radius: 5px; /* Borde redondeado */
  text-decoration: none; /* Sin subrayado */
  transition: background-color 0.3s; /* Transición de color de fondo */
}
.btn-buscar {
  background-color: #0777D9; /* Color de fondo */
  color: #ffffff; /* Color del texto */
  padding: 10px 20px; /* Espaciado interno */
  border-radius: 5px; /* Borde redondeado */
  text-decoration: none; /* Sin subrayado */
  transition: background-color 0.3s; /* Transición de color de fondo */
}
/* Estilos para el input buscar */
.form-control-buscar-sm {
  width: 700px; /* Ancho del input */
  padding: 0.200rem 0.25rem; /* Espaciado interno */
  font-size: 0.500rem; /* Tamaño de la fuente */
}
/* Estilos para el input de cantidad de personas */
.form-control-sm {
  width: 100px; /* Ancho del input */
  padding: 0.375rem 0.75rem; /* Espaciado interno */
  font-size: 0.875rem; /* Tamaño de la fuente */
}
.btn-outline-custom {
  color: #ffffff; /* Color del texto */
  background-color: #e69f5d; /* Color de fondo */
  border-color: #e69f5d; /* Color del borde */
  font-size: 18px; /* Tamaño de la fuente */
}
